<!DOCTYPE html>
<html>
<head>
	<title>vue Js</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<div id="app">

	{{message}}
	<p>your name is : {{name}}</p>
	<p>Your roll is : {{roll}}</p>

</div>


<div id="app-2">
	<p v-if="cond">your text here</p>
</div>

<div id="app-3">
	<p v-if="con">your condition is true</p>
</div>


<div id="info">
	<p v-for="data in c_info">
		{{data.course}}
	</p>
</div>



<div id="event">
	{{message}}
	{{newMessage}}
	<button v-on:click="reverseMessage">click here</button>
	<button v-on:click="againMessage">Again Message</button>
</div>


<br>
<hr>
<div id="bind">
	Search Data: <input type="text" v-model="message">
	<p>Your data is : {{message}}</p>
</div>





	<script src="js/vue.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>